<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link">
    <img src="../../../../assets/dist/img/AdminLTELogo.png" alt="" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light">Admin</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a class="d-block">Hoşgeldiniz</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Ana Sayfa
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/language" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-language"></i>
            <p>
              Diller
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/programming" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-computer"></i>
            <p>
              Bilgisayar Programları
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/interest" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-plus"></i>
            <p>
              İlgi Alanları
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-graduation-cap"></i>
            <p>
              Öğrenciler
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/staff" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-chalkboard-user"></i>
            <p>
              Personeller
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/department" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-building"></i>
            <p>
              Bölümler
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faculty" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-building-columns"></i>
            <p>
              Fakülteler
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lesson" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Dersler
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/company" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Firmalar
            </p>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/sector" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="nav-icon fas fa-light fa-network-wired"></i>
            <p>
              Sektörler
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
